header.header
  .header__title-container
    h1.header__title Social Media Dashboard 
    p.header__subtitle Total Followers: 23.004
  .themecontrol
    label.themecontrol__label(for="darkmodecontrol") Dark Mode
    input.themecontrol__checkbox#darkmodecontrol(type="checkbox", name="darkmodecontrol")